<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Layout page</title>
    <link href="/css/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="/css/jquery/jquery-ui.min.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
</head>
<body>

<nav layout:insert="layouts/partials/nav :: nav" th:remove="tag"></nav>

<!--<header layout:insert="layouts/partials/header :: header" th:remove="tag"></header>-->

<section layout:fragment="content" th:remove="tag"></section>

<footer layout:insert="layouts/partials/footer :: footer" th:remove="tag"></footer>

<script src="/js/jquery/jquery-3.3.1.min.js"></script>
<script src="/js/jquery/jquery-ui.min.js"></script>
<script src="/js/bootstrap/bootstrap.min.js"></script>

<div layout:fragment="scripts" th:remove="tag"></div>
</body>
</html>