<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/custom_theme.css">
    <title>Welcome</title>
</head>

<body class="" style="">
<!-- Navigation -->
<nav class="navbar navbar-expand-md fixed-top bg-dark navbar-dark shadow" style="">
    <div class="container-fluid">
        <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
                data-target="#navbar12" style="">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar12"><a class="navbar-brand d-none d-md-block" href="/">
            <i class="fa d-inline fa-lg fa-circle"></i>
            <b>CENTRE</b>LIZED </a>
            <ul class="navbar-nav mx-auto">
                <li th:if="${userAuthentificated}" class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link" href="#feature_robot">Features</a></li>
                <li class="nav-item"><a class="nav-link" href="#price_robot">Pricing</a></li>
                <li class="nav-item"><a class="nav-link" href="#">About</a></li>
            </ul>
            <ul class="navbar-nav">
                <li th:if="${userAuthentificated}" class="nav-item"><a class="nav-link"
                                                                       th:href="@{/logout}">Log out</a></li>
                <li th:unless="${userAuthentificated}" class="nav-item"><a class="nav-link" th:href="@{/login}">Log in</a>
                </li>
                <li th:unless="${userAuthentificated}" class="nav-item"><a class="nav-link text-primary"
                                                                           th:href="@{/registration}">Sign up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section layout:fragment="content"></section>

<!-- footer -->
<footer class="text-white bg-dark" id="where">
    <div class="container">
        <div class="row">
            <div class="p-5 col-md-6">
                <h3><b>CENTRE</b>LIZED</h3>
                <p class="">
                    <a href="#" target="_blank">Savoie Technolac
                        <br>12 allée Lac de Garde<br>

                        73370 LE BOURGET DU LAC <br>Bâtiment House Boat 9</a>
                </p>
                <p class="">
                    <a href="#">hello@robotcardsorter.com</a>
                </p>
               <!-- <p class="mb-3">
                    <a href="#">+41 798 65 61 19&nbsp;</a>
                </p>-->
                <a href="https://www.linkedin.com/company/robot-card-sorter" target="_blank"><i class="fa d-inline fa-lg mr-3 text-white fa-linkedin"></i></a>
                <a href="https://www.facebook.com/RobotCardSorter/" target="_blank"><i class="fa fa-facebook d-inline fa-lg mr-3 text-white"></i></a>
            </div>
            <div class="p-5 col-md-6">
                <h3>Get in touch</h3>
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control form-control-sm" placeholder="Email" required="required"
                               name="email"></div>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-sm" id="inlineFormInput"
                               placeholder="Subject" required="required" name="subject"></div>
                    <div class="form-group"><textarea class="form-control p-1 form-control-sm" id="exampleTextarea"
                                                      rows="3" placeholder="Your message" name="message"></textarea>
                    </div>
                    <button type="submit" class="btn btn-outline-light btn-sm">SUBMIT</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-3">
                <p class="text-center text-muted text-capitalize" style="font-size: 70%">Designed by <a href="#">BOINAIDI
                    Abdourahamane</a> ©
                    Copyright 2018 <b>CENTRE</b>LIZED- All rights reserved. </p>
            </div>
        </div>
    </div>
</footer>

<!-- Modal for show teams information -->
<div class="modal fade yellow">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h5 class="modal-title"><b>BLANC Swan</b>&nbsp;- Developper</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body bg-light">
                <div class="row">
                    <div class="col-md-4 px-3">
                        <img class="img-fluid d-block mx-auto rounded-circle" src="/images/yellow.jpg"></div>
                    <div class="col-md-8 p-2">
                        <p class="">Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt
                            ut labore et dolore magna aliqua.&nbsp; <br>
                            <br>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea
                            commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu
                            fugiat nulla pariatur.</p>
                        <a target="_blank" href="#"><i class="d-block  fa fa-lg fa-linkedin text-muted"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade cyan">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h5 class="modal-title"><b>BOINAIDI Abdourahamane&nbsp;</b>- Developper Designer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body bg-light">
                <div class="row">
                    <div class="col-md-4 px-3">
                        <img class="img-fluid d-block mx-auto rounded-circle" src="/images/cyan.jpg"></div>
                    <div class="col-md-8 p-2">
                        <p class="">Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt
                            ut labore et dolore magna aliqua.&nbsp; <br>
                            <br>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea
                            commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu
                            fugiat nulla pariatur.</p>
                        <a href="#" target="_blank"><i class="d-block  fa fa-lg fa-linkedin text-muted"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade red">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h5 class="modal-title"><b>LE BRAS</b>&nbsp;- Developper</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body bg-light">
                <div class="row">
                    <div class="col-md-4 px-3">
                        <img class="img-fluid d-block mx-auto rounded-circle" src="/images/red.jpg"></div>
                    <div class="col-md-8 p-2">
                        <p class="">Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquid ex ea commodi consequat.</p>
                        <a href="#" target="_blank"><i class="d-block  fa fa-lg fa-linkedin text-muted"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<div layout:fragment="scripts" th:remove="tag"></div>
</body>
</html>