.dashboard-bg-nav {
    background: #2A3F54;
    color: white;
}

.col-md-3.dashboard-bg-nav {
    min-height: 100%;
    min-width: 248px;
    width: 248px;
    position: absolute;
    display: -ms-flexbox;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    padding: 0;
}

.navbar-brand, .navbar-nav > li > a, .site_title {
    color: #ECF0F1 !important;
    margin-left: 0 !important;
}

.nav_title {
    width: 230px;
    float: left;
    border-radius: 0;
    height: 57px;
}

.site_title {
    font-weight: 400;
    font-size: 22px;
    width: 100%;
    line-height: 59px;
    display: block;
    height: 55px;
    margin: 0;
    padding-left: 10px;
}

a.site_title {
    text-decoration: none;
}

.idLogo {
    display: inline-block;
    width: 53px;
}

.overflow_hidden, .sidebar-widget, .site_title, .tile, .weather-days .col-sm-2, .x_title h2, table.tile_info td p {
    overflow: hidden;
}

.site_title, .x_title h2, table.tile_info td p {
    text-overflow: ellipsis;
}


/********************************************************
    User profile
 ********************************************************/
.profile_pic {
    width: 35%;
    float: left;
}

.profile_info {
    padding: 25px 10px 10px;
    width: 65%;
    float: left;
}

.profile_info span {
    font-size: 13px;
    line-height: 30px;
    color: #BAB8B8;
}

.profile_info h2 {
    font-size: 14px;
    color: #ECF0F1;
    margin: 0;
    font-weight: 300;
}

.img-circle.profile_img {
    width: 70%;
    background: #fff;
    margin-left: 15%;
    z-index: 1000;
    position: inherit;
    margin-top: 20px;
    border: 1px solid rgba(52, 73, 94, .44);
    padding: 4px;
}


/*******************************************************************
    SECTION
 *****************************************************************/
.menu_section {
    margin-bottom: 35px;
}

.menu_section h3 {
    padding-left: 15px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: 700;
    font-size: 11px;
    margin-bottom: 0;
    margin-top: 0;
    text-shadow: 1px 1px #000;
}

.menu_section > ul {
    margin-top: 10px;
}

.nav.side-menu {
    display: block;
}

.nav.side-menu > li.active, .nav.side-menu > li.current-page {
    border-right: 5px solid #1ABB9C;
}

.nav.side-menu > li {
    position: relative;
    display: block;
    cursor: pointer;
}

.nav.side-menu > li.active > a {
    text-shadow: rgba(0, 0, 0, .25) 0 -1px 0;
    background: linear-gradient(#334556, #2C4257), #2A3F54;
    box-shadow: rgba(0, 0, 0, .25) 0 1px 0, inset rgba(255, 255, 255, .16) 0 1px 0;
}

.nav.child_menu {
    display: none;
}

.nav.child_menu > li > a, .nav.side-menu > li > a {
    color: #E7E7E7;
    font-weight: 500;
}

.nav.child_menu li.active, .nav.child_menu li:hover {
    background-color: rgba(255, 255, 255, .06);
}

.nav.side-menu > li > a {
    margin-bottom: 6px;
}

.nav > li > a {
    padding: 13px 15px 12px;
}

.nav.top_menu > li > a, .nav > li > a {
    position: relative;
    display: block;
}

.nav li li.current-page a, .nav.child_menu li li a.active, .nav.child_menu li li a:hover {
    color: #fff;
}

.nav.child_menu > li > a {
    color: rgba(255, 255, 255, .75);
    font-size: 12px;
    padding: 9px;
}

.nav.child_menu > li > a, .nav.side-menu > li > a {
    color: #E7E7E7;
    font-weight: 500;
}

.nav > li > a {
    padding: 13px 15px 12px;
}

.nav.top_menu > li > a, .nav > li > a {
    position: relative;
    display: block;
}

.nav li.current-page {
    background: rgba(255, 255, 255, .05);
}

.nav.child_menu li {
    padding-left: 36px;
}

.nav.child_menu li a {
    text-decoration: none;
}

ul.nav.child_menu li:after {
    border-left: 1px solid #425668;
    bottom: 0;
    content: "";
    left: 27px;
    position: absolute;
    top: 0;
}

ul.nav.child_menu li:before {
    background: #425668;
    bottom: auto;
    content: "";
    height: 8px;
    left: 23px;
    margin-top: 15px;
    position: absolute;
    right: auto;
    width: 8px;
    z-index: 1;
    border-radius: 50%;
}

.nav > li {
    position: relative;
    display: block;
}


@media (min-width: 768px) {
    .navbar {
        border-radius: 4px;
    }
}