<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body layout:fragment="modal">
<div class="modal fade" id="registerEmployee" tabindex="-1" role="dialog" aria-labelledby="registerEmployeeLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Register employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="${linkAddEmployee}" id="registerEmployeeForm" th:object="${employee}"
                      method="post">
                    <div class="form-group">
                        <input type="text" th:field="*{firstName}" class="form-control" placeholder="First Name">
                        <small th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                               class="form-text text-left text-danger"></small>
                    </div>
                    <div class="form-group">
                        <input type="text" th:field="*{lastName}" class="form-control" placeholder="Last Name">
                        <small th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                               class="form-text text-left text-danger"></small>
                    </div>
                    <div class="form-group">
                        <input type="email" th:field="*{email}" class="form-control" placeholder="Email">
                        <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                               class="form-text text-left text-danger"></small>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" th:field="*{password}" class="form-control" id="registerEmployeePass"
                                   placeholder="Password">
                            <div class="input-group-append">
                                <a class="btn btn-light"
                                   onclick="document.getElementById('registerEmployeePass').value=generate(10);">Generate</a>
                            </div>
                        </div>
                        <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                               class="form-text text-left text-danger"></small>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="registerEmployeeForm" class="btn btn-outline-primary">Register</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>