<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/master}">
<head>
    <meta charset="UTF-8">
    <title>Client colis management</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <section class="container-fluid">
        <h1>Client Liste des colis</h1>
        <article class="row ml-0 mr-0" style="min-width: 466px">
            <div class="col-md-11">
                <div class="card shadow">
                    <div class="card-body">
                        <!-- Alert success-->
                        <div th:if="${successMessage}"
                             class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>Congratulation!</strong> <span
                                th:text="${successMessage}"></span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <!-- Error message -->
                        <div th:if="${errorMessage}"
                             class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Error!</strong> <span
                                th:text="${errorMessage}"></span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <!-- Content -->

                        <form th:action="@{/client/search}" id="operatorupdateColiForm" method="post" role="form">
                            <div class="form-group">
                                <input type="number" name="idColis" class="form-control"
                                       placeholder="Identifient du colis">
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-outline-primary" value="Rechercher">
                            </div>
                        </form>

                        <table class="table table-hover" th:if="${coli}">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Poids</th>
                                <th scope="col">Valeur</th>
                                <th scope="col">Origin</th>
                                <th scope="col">Destionation</th>
                                <th scope="col">Latitude</th>
                                <th scope="col">Longitude</th>
                                <th scope="col">Emplacement</th>
                                <th scope="col">Etat</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row" th:text="${coli.idColis}"></th>
                                <td th:text="${coli.poidsColis}"></td>
                                <td th:text="${coli.valeurColis}"></td>
                                <td th:text="${coli.origineColis}"></td>
                                <td th:text="${coli.destinationColis}"></td>
                                <td th:text="${coli.latitude}"></td>
                                <td th:text="${coli.longitude}"></td>
                                <td th:text="${coli.emplacement}"></td>
                                <td th:text="${coli.etat}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </article>
    </section>
</div>
</body>
</html>