<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/template}">
<body layout:fragment="content" th:remove="tag">

<div class="py-5 text-center h-100 bg-light cover bg-fixed shadow-sm" style="">
    <div class="container my-auto">
        <div class="row">
            <div class="mx-auto col-xl-7 col-md-8 col-10 bg-white p-5 shadow">
                <!-- Alert success-->
                <div th:if="${successMessage}" class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Congratulation!</strong> <span th:utext="${successMessage}"></span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <!-- Form -->
                <h1 class="mb-4 text-body">Registration</h1>
                <form autocomplete="off" th:action="@{/registration}"
                      th:object="${user}" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" th:field="*{name}" class="form-control" placeholder="Enter name"
                                       id="form9">
                                <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                                       class="form-text text-left text-danger"></small>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" th:field="*{lastName}"
                                       placeholder="Enter lastname" id="form9">
                                <small th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                                       class="form-text text-left text-danger"></small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="email" th:field="*{email}" class="form-control" placeholder="Enter email"
                               id="form9">
                        <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                               class="form-text text-left text-danger"></small>
                    </div>
                    <div class="form-group mb-3">
                        <input type="password" th:field="*{password}" class="form-control" placeholder="Password"
                               id="form10">
                        <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                               class="form-text text-left text-danger"></small>
                    </div>
                    <button type="submit" class="btn btn-primary text-uppercase shadow">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>