@import url('_reset.css');
@import url('_variables.css');
@import url('dashboard/_nav.css');
@import url('dashboard/_nav2.css');
@import url('dashboard/_dropdown.css');

body {
    color: #73879C;
    background-color: var(--main-bg-color);
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471;
}

img {
    vertical-align: middle;
    border: 0;
}

.img-circle {
    border-radius: 50%;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus, :active, :focus, :visited, a, a:active, a:focus, a:visited {
    outline: 0;
}

.ui-autocomplete {
    z-index: 1050;
}