<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body layout:fragment="modal">
<div class="modal fade" id="addColiModal" tabindex="-1" role="dialog" aria-labelledby="addColiLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add coli</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="#" th:action="@{/admin/colis/add}" th:object="${formColi}" method="post" role="form" id="addColiForm">
                    <div class="form-group">
                        <input type="number" th:field="*{poidsColis}" class="form-control" placeholder="Poids">
                        <small th:if="${#fields.hasErrors('poidsColis')}" th:errors="*{poidsColis}"
                               class="form-text text-left text-danger"></small>
                    </div>
                    <div class="form-group">
                        <input type="number" th:field="*{valeurColis}" class="form-control" placeholder="Valeur">
                        <small th:if="${#fields.hasErrors('valeurColis')}" th:errors="*{valeurColis}"
                               class="form-text text-left text-danger"></small>
                    </div>
                    <div class="form-group">
                        <input type="text" th:field="*{origineColis}" class="form-control" placeholder="Origin">
                        <small th:if="${#fields.hasErrors('origineColis')}" th:errors="*{origineColis}"
                               class="form-text text-left text-danger"></small>
                    </div>
                    <div class="form-group">
                        <input type="text" th:field="*{destinationColis}" class="form-control"
                               placeholder="Destination">
                        <small th:if="${#fields.hasErrors('destinationColis')}" th:errors="*{destinationColis}"
                               class="form-text text-left text-danger"></small>
                    </div>
                    <div class="form-group">
                        <input type="number" th:field="*{latitude}" class="form-control" placeholder="Latitude" step="0.01">
                        <small th:if="${#fields.hasErrors('latitude')}" th:errors="*{latitude}"
                               class="form-text text-left text-danger"></small>
                    </div>
                    <div class="form-group">
                        <input type="number" th:field="*{longitude}" class="form-control" placeholder="Longitude" step="0.01">
                        <small th:if="${#fields.hasErrors('longitude')}" th:errors="*{longitude}"
                               class="form-text text-left text-danger"></small>
                    </div>
                    <div class="form-group">
                        <input type="text" th:field="*{emplacement}" class="form-control" placeholder="Emplacement">
                        <small th:if="${#fields.hasErrors('emplacement')}" th:errors="*{emplacement}"
                               class="form-text text-left text-danger"></small>
                    </div>
                    <div class="form-group">
                        <input list="colisEtatList" name="etat" class="form-control" placeholder="Etat">
                        <div layout:insert="pages/partials/etatsList :: etatsList" th:remove="tag"></div>
                        <small th:if="${#fields.hasErrors('etat')}" th:errors="*{etat}"
                               class="form-text text-left text-danger"></small>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="addColiForm" class="btn btn-outline-primary">Add</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>