<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div layout:fragment="rent-request-entreprise">

    <!-- Send request -->
    <form action="#" th:action="@{/dashboard/rent-request/send-request}" th:object="${rentRequest}" method="post" role="form"
          class="form-horizontal">
        <label th:if="${#fields.hasErrors('robot_number')}" th:errors="*{robot_number}"
               class="validation-message"></label>
        <label th:if="${#fields.hasErrors('computer_number')}" th:errors="*{computer_number}"
               class="validation-message"></label>
        <label th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}"
               class="validation-message"></label>
        <div class="modal fade shadow" id="modalCreatForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Rent a robot</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-3">
                        <div class="md-form mb-5">
                            <i class="fas fa-envelope prefix grey-text"></i>
                            <input type="number" min="1" value="1" id="robot-number" class="form-control validate"
                                   th:field="*{robot_number}">
                            <label data-error="wrong" data-success="right" for="robot-number">Number of robots.</label>
                        </div>
                        <div class="md-form mb-4">
                            <i class="fas fa-envelope prefix grey-text"></i>
                            <input type="number" min="1" value="1" id="computer_number" class="form-control validate" th:field="*{computer_number}">
                            <label data-error="wrong" data-success="right" for="computer_number">Number of computers.</label>
                        </div>
                        <div class="md-form mb-3">
                            <i class="fas fa-envelope prefix grey-text"></i>
                            <input type="number" min="1" value="1" id="rent_duration" class="form-control validate" th:field="*{duration}">
                            <label data-error="wrong" data-success="right" for="rent_duration">The rent time duration in months.</label>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button class="btn btn-default">Send request</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="columns download">
        <p>
            <a href="/pdf/Le_sir_chante_joyeusement.pdf" class="button" style="margin-left: 100px" download>
                <i class="fa fa-download"></i>Download contract</a>
        </p>
    </div>
</div>
</html>