<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/dashboard}">
<body>
<section layout:fragment="content" class="container">

    <h2><span class="text-success" th:utext="${successMessage}"></span></h2>

    <!-- Add Robot -->
    <form action="#" th:action="@{/dashboard/robots/create}" th:object="${robot}" method="post" role="form"
          class="form-horizontal">
        <label th:if="${#fields.hasErrors('robotSerialNumber')}" th:errors="*{robotSerialNumber}"
               class="validation-message"></label>
        <label th:if="${#fields.hasErrors('purchaseDate')}" th:errors="*{purchaseDate}"
                class="validation-message"></label>
        <label th:if="${#fields.hasErrors('robotName')}" th:errors="*{robotName}"
               class="validation-message"></label>
        <div class="modal fade shadow" id="modalCreatForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Create robot</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-3">
                        <div class="md-form mb-5">
                            <input type="text" th:field="*{robotSerialNumber}" placeholder="Robot serial number"
                                   class="form-control"/>
                        </div>
                        <div class="md-form mb-5">
                            <input type="text" th:field="*{robotName}" placeholder="Robot Name"
                                   class="form-control"/>
                        </div>
                        <div class="md-form mb-4">
                            <i class="fas fa-envelope prefix grey-text"></i>
                            <label data-error="wrong" data-success="right" for="expiration-date">Purchase date:
                                YYYY-MM-DD</label>
                            <input type="date" id="expiration-date" class="form-control validate"
                                   th:field="*{purchaseDate}">
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button class="btn btn-default">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <!-- Update Robot -->
    <form action="#" th:action="@{/dashboard/robots/edit}" th:object="${robot}" method="post" role="form"
          class="form-horizontal">
        <label th:if="${#fields.hasErrors('robotSerialNumber')}" th:errors="*{robotSerialNumber}"
               class="validation-message"></label>
        <label th:if="${#fields.hasErrors('userEmailProprity')}" th:errors="*{userEmailProprity}"
               class="validation-message"></label>
        <div class="modal fade shadow" id="modalEditForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">Edit robot</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-3">
                        <div class="md-form mb-5">
                            <label data-error="wrong" data-success="right" for="robotName-edit">Robot name</label>
                            <input type="text" id="robotName-edit" th:field="*{robotName}" placeholder="Robot Name"
                                   class="form-control"/>
                        </div>
                        <div class="md-form mb-4">
                            <label data-error="wrong" data-success="right" for="canBeUsed-edit">The can be used ?(tick = yes)</label>
                            <input type="checkbox" id="canBeUsed-edit" class="form-control validate"
                                   th:field="*{canBeUsed}">
                        </div>
                        <div class="md-form mb-4 ui-widget">
                            <i class="fas fa-envelope prefix grey-text"></i>
                            <label data-error="wrong" data-success="right" for="userEmailProprity-edit">Current assign company:</label>
                            <input type="text" id="userEmailProprity-edit" class="form-control validate"
                                   th:field="*{userEmailProprity}">
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <input type="hidden" id="robotSerialNumber-edit" th:field="*{robotSerialNumber}"/>
                        <button class="btn btn-default">Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <br><button class="btn btn-block btn-primary" data-toggle="modal" data-target="#modalCreatForm">Add robot</button><br><br>

    <div class="container" th:each="robot: ${robots}">
        <h5 th:text="'Robot:' + ${robot.robotName}"></h5>
        <ul class="list-group">
            <li class="list-group-item" th:text="'Serial number: ' + ${robot.robotSerialNumber}"></li>
            <li class="list-group-item" th:text="'Purchase date: ' + ${robot.purchaseDate}"></li>
            <li class="list-group-item" th:text="'Operation houres: ' + ${robot.numberOperationHoures}"></li>
            <li class="list-group-item" th:text="'Curent asign company: ' + ${robot.userEmailProprity}"></li>
            <li class="list-group-item" th:text="'Can be used: ' + ${robot.canBeUsed}"></li>
        </ul><br>
        <h5>Robot history</h5>
        <ul class="list-group">
            <li class="list-group-item" th:each="user: ${robot.usersHistory}" th:text="${user.email}"></li>
        </ul><br>
        <h5>Robot uses</h5>
        <ul class="list-group">
            <li class="list-group-item" th:each="usageEvent: ${robot.robotUsageEvents}" th:utext="'Action: ' + ${usageEvent.action}
            + '<br> Date: ' + ${usageEvent.event_date}
            + '<br> Time: ' + ${usageEvent.event_time}
            + '<br> User email: ' + ${usageEvent.user_email}"></li>
        </ul><br>
        <button class="edit-robot-info btn btn-primary btn-block a-btn-slide-text" type="button"
                id="edit_robot"
                data-toggle="modal" data-target="#modalEditForm"
                th:attr="data-robot_to_edit=${robot.robotSerialNumber},
                            data-robot_name=${robot.robotName},
                            data-curent_user=${robot.userEmailProprity},
                            data-canBeUsed=${robot.canBeUsed}">
            Edit
        </button><br><br><hr />

    </div>

</section>
<div layout:fragment="scripts" th:remove="tag">
    <script src="/js/dashboard/robot-actions.js"></script>
</div>
</body>
</html>
